<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Horario de rutinas</title>
</head>    

<body>

<main class="main-content">
    <a type="button" class="pure-button pure-button-secondary" th:href="@{/home/}">Retroceder</a>
    
    <div style="text-align: center;">
        <h1>Horario de rutinas</h1>
        <p>Programa tus tiempos para hacer rutinas a tu gusto.</p>
        <br>
    </div>

        <span class="span" th:if="${eliminado}" th:text="${eliminado}"></span>
        
        <div class="pure-g">
            <div th:each="horario: ${miHorario}" class="calendario">
                <div>
                    <h2 th:text="${horario.rutina.nombre}"></h2>
                    <a th:href="@{/rutina/verDetalleRutina(codigo=${horario.rutina.codigo})}">Ver detalles</a>
                    <br>
                    <br>

                    <div>
                        <p>Descanso por serie: <span th:text="${horario.descaSerie}"></span></p>
                        <p>Descanso por ejercicio: <span th:text="${horario.descaEjercicio}"></span></p>
                        
                        <h3><span th:text="${horario.dia.nombre}"></span></h3>
                        <br>
                        
                        <h3>Parte: <span th:text="${horario.parte}"></span></h3>
                        <hr>
                        <a th:href="@{/horario/eliminarHora/{codigo} (codigo=${horario.codigo})}" class="alert">Eliminar de tu horario</a>

                    </div>
                </div>  
            </div>
            
        </div>
        
        
    <div class="pure-g insertar-horario">
        
        <div style="width: 400px; height: 500px;">
            <form class="pure-form pure-form-stacked"  
                th:action="@{/horario/grabarHorario}" 
                th:object="${objHorario}"
                method="POST">
                
            <h3>Inserte un nuevo horario</h3>
            <span class="alert" th:if="${error}" th:text="${error}"></span>
            <span class="span" th:if="${exito}" th:text="${exito}"></span>
            <br>
            
                <label>Rutina:</label>
                <select th:field="*{rutina.codigo}">
                    <option th:each="rutinas: ${listaRutinas}"
                            th:value="${rutinas.codigo}"
                            th:text="${rutinas.nombre}">
                    </option>
                </select>
                
                <label for="dia">Día:</label>
                        <select name="dia" th:field="*{dia}">
                            <option th:each="d : ${cbxDias}"
                                    th:value="${d}"
                                    th:text="${d.nombre}">
                            </option>
                        </select>
                        <!--<select name="dia">
                            <option th:value="'LUNES'">Lunes</option>
                            <option th:value="'MARTES'">Martes</option>
                            <option th:value="'MIERCOLES'">Miércoles</option>
                            <option th:value="'JUEVES'">Jueves</option>
                            <option th:value="'VIERNES'">Viernes</option>
                            <option th:value="'SABADO'">Sábado</option>
                            <option th:value="'DOMINGO'">Domingo</option>
                        </select>-->

                <label for="parte">Periodo de día:</label>
                <select name="parte">
                    <option th:value="'Mañana'">Mañana</option>
                    <option th:value="'Medio día'">Medio día</option>
                    <option th:value="'Tarde'">Tarde</option>
                    <option th:value="'Noche'">Noche</option>
                </select>
                
                <label for="descaEjercicio">Descanzo por ejercicio:</label>
                <select name="descaEjercicio">
                            <option th:value="'no especificado'">No especificado</option>
                            <option th:value="'5 minutos'">5 minutos</option>
                            <option th:value="'10 minutos'">10 minutos</option>
                            <option th:value="'15 minutos o más'">15 minutos o más</option>
                        </select>
                
                <label for="descaSerie">Descanzo por serie:</label>
                <select name="descaSerie">
                            <option th:value="'no especificado'">No especificado</option>
                            <option th:value="'15 segundos'">15 segundos</option>
                            <option th:value="'30 segundos'">30 segundos o más</option>
                            <option th:value="'1 minuto'">1 minuto o más</option>
                        </select>
                
                <!--  <label for="horaInicio">Descanzo por serie:</label>
                <input type="time" min="00:30" max="01:30" th:field="*{horaInicio}" />
            
                <label for="horaFin">Descanzo por ejercicio:</label>
                <input type="time" min="01:00" max="07:00" th:field="*{horaFin}" />-->
            
                <br>
                <button type="submit" class="pure-button pure-button-primary">Guardar nuevo horario</button>
            </form>
        </div>

        <div style="max-width: 1000px; max-height: 800px;">
            <h2>Rutinas</h2>
            <br>
            
            <table class="pure-table pure-table-border">
                    <thead>
                        <tr>
                            <th>Nombre de la Rutina</th>
                            <th>Tipo</th>
                            <th>Parte del cuerpo</th>
                            <th>Nivel</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr th:each="ru: ${listaRutinas}">
                        <td><span th:text="${ru.nombre}"></span></td>
                        <td><span th:text="${ru.objetivo.nombre}"></span></td>
                        <td><span th:text="${ru.parteCuerpo}"></span></td>
                        <td><span th:text="${ru.nivel.nombre}"></span></td>
                        <td><span th:text="${ru.descripcion}"></span></td>
                        <td><a th:href="@{/rutina/verDetalleRutina/{codigo}(codigo=${ru.codigo})}" method="GET">Ver detalles</a>
                            <br>
                        </tr> 
                    </tbody>
                    </table>
        </div>
    </div>

    
          
</main>

</body>
</html>