<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<title>Horario de rutinas</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    
<body>

    <div class="w3-container">
    <a type="button" class="pure-button pure-button-secondary" th:href="@{/home/retroceder}"> <- Retroceder</a>
    
        <h2>Horario de rutinas</h2>
        <p>Programa tus tiempos para hacer rutinas a tu gusto.</p>
        <br>
        
        <span class="span" th:if="${eliminado}" th:text="${eliminado}"></span>
        
        <div class="w3-row-padding" style="margin: 40px;">
        
            <div th:each="horario: ${miHorario}">
              <div class="w3-card w3-container">
              <h2 th:text="${horario.rutina.nombre}"></h2>
              <a th:href="@{/rutina/verDetalleRutina(idrutina=${horario.rutina.idrutina})}">Ver detalles</a>
              <br>
              <br>

              <div class="w3-col s6">
                
                <p>Descanso por serie: <span th:text="${horario.descaSerie}"></span></p>
                <p>Descanso por ejercicio: <span th:text="${horario.descaEjercicio}"></span></p>
                
                <h3><span th:text="${horario.dia}"></span></h3>
                <br>
                <a th:href="@{/horario/eliminarHora/{idhorario} (idhorario=${horario.idhorario})}" 
                    	class="btn btn-danger btn-circle btn-sm">Eliminar de tu horario</a>
              </div>
              <div class="w3-col s6">
                <h3>Periodo:
                <span th:text="${horario.periodo}"></span>
                </h3>
              </div>
              </div>
            
          <hr>  
          </div>
        </div>
        

 
    <form class="pure-form pure-form-stacked"  
    	style="margin: 20px;" 
    	th:action="@{/horario/grabarHorario}" 
    	th:object="${objHorario}"
    	 method="POST">
    	 
    <h3>Inserte un nuevo horario</h3>
    <span class="alert" th:if="${error}" th:text="${error}"></span>
    <span class="span" th:if="${exito}" th:text="${exito}"></span>
    <br>
    
    	<label>Rutina:</label>
    	<select th:field="*{rutina.idrutina}">
    		<option th:each="rutinas: ${listaRutinas}"
            		th:value="${rutinas.idrutina}"
            		th:text="${rutinas.nombre}">
    		</option>
    	</select>
    	
        <label for="dia">Día:</label>
        		<select name="dia" th:field="*{dia}">
					<option th:each="d : ${cbxDias}"
							th:value="${d}"
							th:text="${d.nombre}">
					</option>
				</select>
        		<!--<select name="dia">
            		<option th:value="'LUNES'">Lunes</option>
            		<option th:value="'MARTES'">Martes</option>
            		<option th:value="'MIERCOLES'">Miércoles</option>
            		<option th:value="'JUEVES'">Jueves</option>
            		<option th:value="'VIERNES'">Viernes</option>
            		<option th:value="'SABADO'">Sábado</option>
            		<option th:value="'DOMINGO'">Domingo</option>
        		</select>-->

		<label for="periodo">Periodo de día:</label>
        <select name="periodo">
            <option th:value="'Mañana'">Mañana</option>
            <option th:value="'Medio día'">Medio día</option>
            <option th:value="'Tarde'">Tarde</option>
            <option th:value="'Noche'">Noche</option>
        </select>
        
        <label for="descaEjercicio">Descanzo por ejercicio:</label>
        <select name="descaEjercicio">
        			<option th:value="'no especificado'">No especificado</option>
            		<option th:value="'5 minutos'">5 minutos</option>
            		<option th:value="'10 minutos'">10 minutos</option>
            		<option th:value="'15 minutos o más'">15 minutos o más</option>
        		</select>
        
        <label for="descaSerie">Descanzo por serie:</label>
        <select name="descaSerie">
        			<option th:value="'no especificado'">No especificado</option>
            		<option th:value="'15 segundos'">15 segundos</option>
            		<option th:value="'30 segundos'">30 segundos o más</option>
            		<option th:value="'1 minuto'">1 minuto o más</option>
        		</select>
        
        <!--  <label for="horaInicio">Descanzo por serie:</label>
        <input type="time" min="00:30" max="01:30" th:field="*{horaInicio}" />
    
        <label for="horaFin">Descanzo por ejercicio:</label>
        <input type="time" min="01:00" max="07:00" th:field="*{horaFin}" />-->
    
    	<br>
        <button type="submit" class="pure-button pure-button-secondary">Guardar nuevo horario</button>
    </form>


	<h2 class="w3-text-grey w3-padding-16">
          Rutinas</h2>
      
     <table class="pure-table">
            <thead>
                <tr>
                    <th>Nombre de la Rutina</th>
                    <th>Tipo</th>
                    <th>Parte del cuerpo</th>
                    <th>Nivel</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        
            <tbody class="pure-table-border">
                <tr th:each="rutina: ${listaRutinas}">
                <td><span th:text="${rutina.nombre}"></span></td>
                <td><span th:text="${rutina.tipo}"></span></td>
                <td><span th:text="${rutina.parteCuerpo}"></span></td>
                <td><span th:text="${rutina.nivel}"></span></td>
                <td><span th:text="${rutina.descripcion}"></span></td>
                <td>
                    <div class="dropdown">
                        <a th:href="@{/rutina/verDetalleRutina(idrutina=${rutina.idrutina})}">Ver detalles</a>
                    </div>
                    <br>
                </tr> 
            </tbody>
            </table>

          
      </div>

</body>
</html>