<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Perfil</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
<link rel='stylesheet' th:href='@{https://fonts.googleapis.com/css?family=Roboto}'>
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>

<body>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- PERFIL -->
    <div class="w3-third">
    <a type="button" class="pure-button pure-button-secondary" th:href="@{/home/retroceder}"> <- Retroceder</a>
      <div class="w3-white w3-text-grey w3-card-4" th:value="suPerfil">
      
        <div class="perfil">
          <img src="/images/ave.jpg" style="width:100%" alt="Avatar">
          <div class="w3-text-black">
            <h2 class="w3-text-grey w3-padding-16 w3-margin-right">
            <span th:text="${suPerfil.nombres}"></span>
            <span th:text="${suPerfil.apellidos}"></span>
            </h2>
            <p class="w3-text-grey" th:text="${suPerfil.biografia}"></p>     
          </div>
          <br>
        </div>
        
        <div class="w3-container">
          <p th:text="${suPerfil.fechanacimiento}">
          <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i></p>
          
          <p th:text="${suPerfil.nacionalidad}">
          <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i></p>
          
          <p th:text="${suPerfil.sexo}">
          <span></span>
          <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i></p>
          
          <!--<p th:text="${detalleDieta.descripcion}">
          <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i></p>
          
          <p th:text="${detalleDieta.descripcion}">
          <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i></p>
          <hr>-->
          
        </div>
        
      </div><br>
      
      <div class="w3-white w3-text-grey w3-card-4">
            <div class="perfil">
              <div class="w3-text-black">
                <h2 class="w3-text-grey w3-padding-16 w3-margin-right">
                    Total de citas asistidas:
                </h2>
                <h3 th:text="${asistencias}"></h3>
              </div>
              <br>
            </div>
          </div><br>
      
      <div class="w3-white w3-text-grey w3-card-4">
            <div class="perfil">
              <div class="w3-text-black">
                <h2 class="w3-text-grey w3-padding-16 w3-margin-right">
                    Medidas de seguimiento
                </h2>
                <a type="button" class="pure-button pure-button-primary" 
                   th:href="@{/reunion/verSuSeguimiento(idusuario=${suPerfil.idusuario})}">Visualizar</a> 
              </div>
              <br>
            </div>
          </div><br>
          
          
       <div class="w3-white w3-text-grey w3-card-4">
            <div class="perfil">
              <div class="w3-text-black">
                <h2 class="w3-text-grey w3-padding-16 w3-margin-right">
                    Horario
                </h2>
                <a type="button" class="pure-button pure-button-primary" 
                   th:href="@{/reunion/verSuHorario(idusuario=${suPerfil.idusuario})}">Visualizar</a> 
              </div>
              <br>
            </div>
          </div><br>

    <!-- End Left Column -->
    </div>


    <!-- Right Column -->
    
    <div class="w3-twothird">
    
    	<div class="w3-container w3-card w3-white w3-margin-bottom" th:value="suInfo">
    	
    	<!--<a type="button" class="pure-button pure-button-secondary" th:href="@{/reunion/verSuSeguimiento}">Ver seguimiento</a>-->
    	
        <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Información</h2>
        <div>
        
          
        <!-- SI EL PACIENTE TIENE INFO -->
        <div>
        
        	<h3>Objetivo nutricional:</h3>
					<p th:text="${suInfo.objetivo}">
            		<hr>
            		
          <h3>Frecuencia de ejercicios:</h3>        
    	  <p th:text="${suInfo.frecEjercicios}">
    	  <hr>
    	  
					<h3>Condición alimenticia:</h3>
    				<p th:text="${suInfo.condicion}">
    				<hr>
    				
                    <h3>Peso corporal:</h3>
					<p th:text="${suInfo.pesoCorporal}">
    				<hr>
    				
    				<h3>Estatura:</h3>
					<p th:text="${suInfo.estatura}">
    				<hr>
    				
                    <h3>Perímetro de cintura:</h3>
					<p th:text="${suInfo.perimCintura}">
    				<hr>
    				
                    <h3>Perímetro de cadera:</h3>
					<p th:text="${suInfo.perimCadera}">
    				<hr>
    				
                    <h3>Perímetro de muslo:</h3>
                    <p th:text="${suInfo.perimMuslo}">
                    <hr>
                    
                    <h3>Perímetro de brazo/bicep:</h3>
					<p th:text="${suInfo.perimBrazo}">
    				<hr>

            </div>
            
        </div>
    </div>
   </div>
    	
    	
    	
    	 <div class="w3-twothird">
    	<div class="w3-container w3-card w3-white w3-margin-bottom" th:value="suInfo">

   	<div class="w3-container w3-card w3-white w3-margin-bottom">
   	<span th:if="${mensaje}" th:text="${mensaje}"></span>
      <h2 class="w3-text-grey w3-padding-16">
          Dieta(s) que estoy haciendo</h2>
        <!--<div class="w3-container" th:if="${miInfo.dieta!=null}">-->
      
        <table class="pure-table">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Objetivo</th>
              <th>Descripción</th>
              <th>Acciones</th>
          </tr>
      </thead>
  
      <tbody class="pure-table-border">
          <tr th:each="dieta: ${suInfo.dieta}">
          <td><span th:text="${dieta.nombre}"></span></td>
          <td><span th:text="${dieta.objetivo}"></span></td>
          <td><span th:text="${dieta.descripcion}"></span></td>
          <td>
              <div class="dropdown">
                  <a th:href="@{/dieta/verDetalleDieta(iddieta=${dieta.iddieta})}">Ver detalles</a>
              </div>
              <br> 
          </td>
          
          </tr> 
      </tbody>
 
          </table>        
    </div>
		
    </div>
    	</div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</div>

<footer>
  <p class="p-footer">2024. Todos los derechos reservados.</p>
</footer>

</body>
</html>