<!doctype html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Registrar usuario</title>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/style2.css">-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<script th:src="@{https://kit.fontawesome.com/dcce108ca1.js}" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<body>
	<main>
		<section style="background-color: white;">
			<h2>Programar una nueva reunión</h2>
			<form class="pure-form pure-form-stacked" 
            	th:action="@{/reunion/grabarReunion}" 
            	th:object="${objReunion}"
            	method="POST" >  
				
				<label for="motivo">Motivo</label>
				<input 
                            	type="text" 
                            	id="multi-first-name" 
                            	th:field="*{motivo}" 
                            	required=""
                            	/>

				<label for="dia">Día</label>
        		<select name="dia">
            		<option th:value="'LUNES'">Lunes</option>
            		<option th:value="'MARTES'">Martes</option>
            		<option th:value="'MIERCOLES'">Miércoles</option>
            		<option th:value="'JUEVES'">Jueves</option>
            		<option th:value="'VIERNES'">Viernes</option>
            		<option th:value="'SABADO'">Sábado</option>
            		<option th:value="'DOMINGO'">Domingo</option>
        		</select>
                          
               	<label for="hora">Hora</label>
        		<input type="time" min="08:00" max="23:00" th:field="*{hora}" />
                
                <label for="enlace">¿En que plataforma se va ha hacer la reunión?</label>
                <a type="button" class="pure-button pure-button-primary" href="https://meet.google.com/landing" target="_blank">Zoom</a>
                <br>
                <a type="button" class="pure-button pure-button-secondary" href="https://developers.zoom.us/docs/api/" target="_blank">Meet</a>
                <br>
                
                <input type="text" id="multi-enlace" th:field="*{enlace}" required="" />
                            	
                <br>           	
                <span class="alert" th:if="${error}" th:text="${error}"></span>

				<input type="submit" value="Guardar Reunión">

			</form>
		</section>
	</main>

	<footer>
		<p class="p-footer">2024. Todos los derechos reservados.</p>
	</footer>

</body>
</html>