<!DOCTYPE html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
	
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

	<script src="https://kit.fontawesome.com/dcce108ca1.js" crossorigin="anonymous"></script>
    <title>Detalle de Dieta</title>
</head>
<body>
    <main>
		<section>
            <div>
                <div th:value="${detDieta}">
                    <!--<div th:object="${detDieta}">-->

                    
                    <span th:text="${detDieta.codigo}" hidden></span>

                    <h2 th:text="${detDieta.nombre}"></h2>
                    <br>
                                
                    <label class="form-label">Objetivo:</label>
                    <span th:text="${detDieta.objetivo.nombre}"></span>
                    <br>
                                
                    <label class="form-label">Descripción:</label>
                    <span th:text="${detDieta.descripcion}"></span>
                    <br>
                                
                        <!--<label class="form-label">Creado por:</label>
                                <a th:href="@{/perfil/verSuPerfil(codigo=${detDieta.nutriologo.codigo})}">
                                        <i class="bx bx-edit-alt me-2"></i>
                                        <span th:text="${detDieta.nutriologo.nombres}"></span>
                                        <span th:text="${detDieta.nutriologo.apellidos}"></span>
                        </a>-->  
                            
                            <div><h3>Condicion</h3>
                                <div th:each="condicion : ${detDieta.condicion}">
                                    <p th:text="${condicion.nombre}"></p>
                                </div>
                            </div>
                            
                            <div><h3>Alimentos incluidos</h3></div>
                            <table class="pure-table pure-table-bordered">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Alimento</th>
                                        <th>Nutrientes</th>
                                        <th>Tipo</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="al: ${detDieta.alimento}">
                                        <td><img th:src="@{/uploads/{img}(img=${al.foto})}" width="150" height="150"></td>
                                        <td><span th:text="${al.nombre}"></span></td>
                                        <td><span th:text="${al.nutrientes}"></span></td>
                                        <td><span th:text="${al.tipo}"></span></td>
                                        <td><span th:text="${al.descripcion}"></span></td>
                                    </tr> 
                                </tbody>
                            </table>

                        <div th:if="${paciente}">
                            <form th:if="${!seguida}"
                                th:action="@{/dieta/seguirDieta(codigo=${detDieta.codigo})}"
                                method="POST">
                                <button class="pure-button pure-button-primary">
                                    Seguir Dieta
                                </button>
                            </form>

                            <form th:if="${seguida}"
                                th:action="@{/dieta/dejarSeguirDieta(codigo=${detDieta.codigo})}"
                                method="POST">
                                <button class="pure-button pure-button-secondary">
                                    Dejar de seguir Dieta
                                </button>
                            </form>
                        </div>
                        
                        <!--<form th:if="${esCreador}" th:action="@{/dieta/editarDieta}" th:method="POST">
                            <input type="hidden" name="codigo" th:value="${detalleDieta.codigo}" />
                            <button type="submit" class="pure-button pure-button-primary">
                                Editar Dieta
                            </button>
                        </form>-->
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p class="p-footer">2024. Todos los derechos reservados.</p>
    </footer>

</body>