<!doctype html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Nueva Dieta</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/inputs.css">

	<!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/inputs.css}">-->

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    
	<script th:src="@{https://kit.fontawesome.com/dcce108ca1.js}" crossorigin="anonymous"></script>
</head>


<body>
	<main>
		<section>
			<h2>Insertar nueva dieta</h2>
			<form class="pure-form pure-form-stacked" 
            	th:action="@{/dieta/grabar_dieta}" 
            	th:object="${d}"
            	method="POST" >

				<label for="nombres_apellidos">Nombre</label>
				<input type="text" id="multi-first-name" th:field="*{nombre}" required="" />
                
                <!--<label for="percentage">Objetivo</label>        
    				<select id="percentage" name="objetivo">
        				<option th:value="'Deficit'" selected="selected">Deficit</option>
        				<option th:value="'Volumen'">Volumen</option>
					</select>-->

				
					<!--<div th:each="objetivo : ${lstObjetivo}">
					<label th:text="${objetivo.nombre}"></label>
    				<input 
    					type="radio" 
    					th:field="*{objetivo}" 
    					th:value="${objetivo.codigo}"
						th:text="${objetivo.nombre}"
    				/>
				</div>-->

				<label>Objetivo</label>
				<ul class="lst-radiobtn">
					<li th:each="o : ${rbtObjetivo}">
						<input type="radio" th:field="*{objetivo}" th:value="${o}" th:text="${o.nombre}"/>
					</li>
				</ul>
    				
				<label for="mensaje">Descripción</label>
                    <textarea id="mensaje" th:field="*{descripcion}" cols="70" rows="5"></textarea>

				
				<label>¿Que alimenos incluye?</label>
				<div class="deslisable">
				<table class="pure-table pure-table-bordered">

           		 	<thead>
                        <tr>
                            <th>Alimento</th>
                            <th>Nutrientes</th>
                            <th>Tipo</th>
                            <th>Descripción</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="alimento: ${listaAlimentos}">
                            <td><span th:text="${alimento.nombre}"></span></td>
                            <td><span th:text="${alimento.nutrientes}"></span></td>
                            <td><span th:text="${alimento.tipo}"></span></td>
                            <td><span th:text="${alimento.descripcion}"></span></td>
                            <td>
								<label class="checkbuton">
									<input
										type="checkbox" 
										th:field="*{alimento}" 
										th:value="${alimento.codigo}">
									<span class="checkmark"></span>
								</label>
							</td>
                        </tr> 
                    </tbody>
                 </table>
            	</div>
				
					<label>No recomendado para los que padecen de:
						<div th:each="c : ${listaCondiciones}">
							<label class="checkbuton">
								<input 
									type="checkbox" 
									th:field="*{condicion}" 
									th:text="${c.nombre}"
									th:value="${c.codigo}"/>
								<span class="checkmark"></span>
							</label>
						</div>
				    </label>   

                <span class="span" th:if="${error}" th:text="${error}"></span>

				<input type="submit" class="pure-button pure-button-primary" value="Guardar Dieta">
				
			</form>
			<a type="button" class="pure-button pure-button-secondary" th:href="@{/perfil/}">Cancelar</a>
		</section>
	</main>

	<footer>
		<p class="p-footer">2024. Todos los derechos reservados.</p>
	</footer>

</body>
</html>