<!doctype html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Nueva Dieta</title>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/style2.css">-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    
	<script th:src="@{https://kit.fontawesome.com/dcce108ca1.js}" crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<section>
			<h2>Insertar nueva dieta</h2>
			<form class="pure-form pure-form-stacked" 
            	th:action="@{/dieta/grabarDieta}" 
            	th:object="${objDieta}"
            	method="POST" >

				<label for="nombres_apellidos">Nombre</label>
				<input 
                            	type="text" 
                            	id="multi-first-name" 
                            	th:field="*{nombre}"
                            	required=""
                            	/>
                
                <label for="percentage">Objetivo</label>        
    				<select id="percentage" name="objetivo">
        				<option th:value="'Deficit'" selected="selected">Deficit</option>
        				<option th:value="'Volumen'">Volumen</option>
    				</select>
    				
				<label for="mensaje">Descripción</label>
                    <textarea id="mensaje" th:field="*{descripcion}"></textarea>

				
				<label>¿Que alimenos incluye?</label>
				
				<div class="deslisable">
				<table class="pure-table tabla-check">

           		 	<thead>
                        <tr>
                            <th>Alimento</th>
                            <th>Nutrientes</th>
                            <th>Tipo</th>
                            <th>Descripción</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>

                    <tbody class="pure-table-border">
                        <tr th:each="alimento: ${listaAlimentos}">
                            <td><span th:text="${alimento.nombre}"></span></td>
                            <td><span th:text="${alimento.nutrientes}"></span></td>
                            <td><span th:text="${alimento.tipo}"></span></td>
                            <td><span th:text="${alimento.descripcion}"></span></td>
                            <td><input
                            	type="checkbox" 
    							th:field="*{alimento}" 
    							th:value="${alimento.idalimento}"></input></td>
                        </tr> 
                    </tbody>
                 </table>
            </div>
				
				<label>Condición alimenticia</label>
					<div th:each="condicion : ${listaCondiciones}">
					<label th:text="${condicion.nombre}"></label>
    				<input 
    					type="checkbox" 
    					th:field="*{condicion}" 
    					th:value="${condicion.idcondicion}"
    				/>
				</div>
				       	
                <span class="span" th:if="${error}" th:text="${error}"></span>

				<input type="submit" class="pure-button pure-button-primary" value="Guardar Dieta">

			</form>
		</section>
	</main>

	<footer>
		<p class="p-footer">2024. Todos los derechos reservados.</p>
	</footer>

</body>
</html>