body{
    background-color: #eeeeee;
}

    .main-content {
        background-color: white;
        color: white;
        width: 1500px;
        height: auto;
        margin: 0 auto;
    }

    header{
        background: linear-gradient(180deg,rgba(159, 196, 196, 1) 0%, rgba(0, 200, 255, 1) 100%);
        padding: 20px;
    }

    .fdp{
        width: 200px;
        height: 200px;
    }

    .section-profile{
        padding: 25px;
    }

    .carta{
        background: linear-gradient(180deg,#f4ff94 0%, #eddd53 100%);
        width: 150px;
        height: 150px;
        margin: 20px auto;
        padding: 10px;
        border-radius: 5%;
        box-shadow: 2px 2px 5px 2px #00000050;
    }

    .contenido{
        background-color:antiquewhite;
        margin: 0 auto;
        height: auto;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 1px 1px 10px 1px #00000050;
        color: black;
    }

    .reuniones{
        text-align: center;
        background-color: lightblue;
        width: 400px;
        height: 600px;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 1px 1px 10px 1px #00000050;
        color: black;
    }

    .tabla-perfil{
        background-color: #9fdb9f;
        max-width: 62%;
        height: auto;
        margin: 0 20px;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 1px 1px 10px 1px #00000050;
        color: black;
    }

    .carta2{
        width: 400px;
        height: 100px;
        background-color: orange;
        margin: 20px auto;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 1px #00000050;
        text-align: center;
    }

    a{
        text-decoration: none;
    }

    .alert{
        color: red;
    }

tbody{
	background-color: white;
}

.deslisable {
	max-height: 540px;
	overflow: auto;
	border: 1px solid #ccc; 
}