* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #edfac9;
}

.main-content{
    background-color: white;
    width: 1800px;
    height: auto;
    margin: 0 auto;
    
}

.perfil{
	margin: 10px;
}

.perfil .w3-text-black{
	text-align: center;
}

footer {
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 1% 0;
	background-color: rgb(185, 185, 185);
	display: flex;
	justify-content: center;
}

.p-footer {
	color: #000000;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

button{
	margin: 10px;
}

.span{
    color: gray;
}

.alert{
    color: red;
}

.exito{
	color: green;
}


.w3-card{
	background-color: rgb(170, 215, 252);
	border-radius: 10px;
	padding: 20px;
}

hr{
	color: black;
}

/*table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    margin: 30px;
}*/

.deslisable {
	max-height: 400px; /* Altura máxima de la tabla */
	overflow: auto; /* Barra de desplazamiento vertical */
	border: 1px solid #ccc; /* Opcional: bordes */
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px; 
	text-align: left;
	background-color: #d7ebee;
}

th {
	background-color: #f4f4f4;
	position: sticky; 
	top: 0;
}

section{
	margin: 70px;
}

tbody{
	background-color: #d7ebee;
}


.lst-radiobtn{
	list-style:none;
	display: flex;
}

.lst-radiobtn li{
	padding: 7px;
}

.calendario{
    background-color: #5b5bff;
    width: 500px;
    padding: 20px;
    margin: 0 auto;
	color: white;
}

.insertar-horario{
    padding: 20px;
    margin: 20px;
}

.insertar-horario div{
    background-color: gray;
    width: auto;
    padding: 20px;
    margin: 0 auto 20px;
}

.form2{
    background-color: white;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #00000020;
}

.form2 label{
    font-weight: bold;
    margin-top: 10px;
}