* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #edfac9;
}

.perfil{
	margin: 10px;
}

.perfil .w3-text-black{
	text-align: center;
}

footer {
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 1% 0;
	background-color: rgb(185, 185, 185);
	display: flex;
	justify-content: center;
}

.p-footer {
	color: #000000;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

button{
	margin: 10px;
}

.span{
    color: gray;
}

.alert{
    color: red;
}

.exito{
	color: green;
}


.w3-card{
	background-color: rgb(170, 215, 252);
	border-radius: 10px;
	padding: 20px;
}

hr{
	color: black;
}

/*table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    margin: 30px;
}*/

.deslisable {
	max-height: 400px; /* Altura máxima de la tabla */
	overflow: auto; /* Barra de desplazamiento vertical */
	border: 1px solid #ccc; /* Opcional: bordes */
}

table {
	width: 100%; /* Ajustar la tabla al contenedor */
	border-collapse: collapse; /* Quitar separación entre bordes */
}

th, td {
	border: 1px solid #ddd; /* Bordes de las celdas */
	padding: 8px; /* Espaciado interno */
	text-align: left;
	background-color: #d7ebee;
}

th {
	background-color: #f4f4f4; /* Fondo para la cabecera */
	position: sticky; /* Cabecera fija */
	top: 0; /* Fijar cabecera al tope */
}

section{
	margin: 70px;
}

tbody{
	background-color: #d7ebee;
}


.lst-radiobtn{
	list-style:none;
	display: flex;
}

.lst-radiobtn li{
	padding: 7px;
}