<!doctype html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Cuestionario</title>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/style2.css">-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
	
	<script th:src="@{https://kit.fontawesome.com/dcce108ca1.js}" crossorigin="anonymous"></script>
</head>

<style>
    #paso{
        background-color: white;
        height: auto;
        padding: 20px;
        animation-name: animacion-form;
	    animation-duration: 500ms;
	    animation-timing-function: ease;
    }

    @keyframes animacion-form {
        from{
            filter: opacity(0%);
            /*transform: translateY(-200px);*/
        }
        to{
            filter: opacity(100%);
            /*transform: translate(0);*/
        }
    }
</style>

<body>
        <main>
            <section>
                <h2>Cuestionario</h2>

				<div class="formulario" id="paso" display="block">
					<form id="form1" class="pure-form pure-form-stacked" 
						th:action="@{/cuestionario/grabar_cuestionario}" 
                     	th:object="${frmPaciente}"
                      	method="POST" >

						<span class="span">Hemos preparado este cuestionario que nos ayudará a saber detalles acerca de ti y de tu salud.<br></span>
						<input type="hidden" th:field="*{codigo}">
						<span class="alert" th:if="${error}" th:text="${error}"></span>
								
						<label for="frecEjercicios">Del 1 al 5 ¿Con que frecuencia haces ejercicios?</label>        
						<select id="frecEjercicios" name="frecEjercicios">
							<option th:each="frec : ${cbxFrecuencia}" 
									th:value="${frec}" 
									th:text="${frec}">
							</option>
						</select>

						<label for="condicion">¿Tienes una condicion alimenticia?</label>
						<select th:field="*{condicion}">
							<option th:each="con: ${cbxCondiciones}"
									th:value="${con.codigo}" 
									th:text="${con.nombre}">
							</option>
						</select>
						
						<label for="objetivo">¿Tienes un objetivo?</label>
						<select th:field="*{objetivo}">
							<option th:each="objetivo : ${ckbObjetivos}"
									th:value="${objetivo.codigo}"
									th:text="${objetivo.nombre}">
							</option>
						</select>
						
						<br>
						<input class="pure-button pure-button-primary" type="submit" value="Grabar">
					
					</form>
				</div>
            </section>
        </main>
    
        <footer>
            <p class="p-footer">2024. Todos los derechos reservados.</p>
        </footer>

</body>
</html>  

<script>
    /*    
    // Declaramos las variables
    const form1 = document.getElementById('form1');
    const form2 = document.getElementById('ventana2');

    // Luego de haber completado el primer formulario, mostramos el segundo
    form1.addEventListener('submit', function(event) {
		event.preventDefault(); // Evitamos el envío del formulario
        form2.removeAttribute('hidden'); // Mostramos el segundo formulario
        form1.setAttribute('hidden', 'true'); // Ocultamos el primer formulario
    });
*/
</script>