<!doctype html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Cuestionario</title>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/style2.css">-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
	
	<script th:src="@{https://kit.fontawesome.com/dcce108ca1.js}" crossorigin="anonymous"></script>
</head>

<style>
    #paso{
        background-color: white;
        height: auto;
        padding: 20px;
        animation-name: animacion-form;
	    animation-duration: 500ms;
	    animation-timing-function: ease;
    }

    #form2{
        animation-name: animacion-form;
	    animation-duration: 500ms;
	    animation-timing-function: ease;
    }

    @keyframes animacion-form {
        from{
            filter: opacity(0%);
            /*transform: translateY(-200px);*/
        }
        to{
            filter: opacity(100%);
            /*transform: translate(0);*/
        }
    }
</style>

<body>
        <main>
            <section>
				<div class="formulario">
                <h2>Cuestionario - Medidas</h2>
                <form id="form2" class="pure-form pure-form-stacked" 
							th:action="@{/cuestionario/grabar_medidas}" 
							th:object="${medidas}"
							method="POST">
			
							<span class="span">Hemos preparado este cuestionario que nos ayudará a saber detalles acerca de ti y de tu salud.<br>
							</span>
							
							<!--<input type="hidden" name="usuRegistrado" th:value="${usuRegistrado}"/>-->
							<span class="alert" th:if="${error}" th:text="${error}"></span>

							<br>
							<span class="span">Si aún no sabe sus medidas, puede saltarte esta parte y luego llenarlas en otro momento.</span>
							
							<label>Peso corporal</label>
							<input type="number" th:field="*{pesoCorporal}" step="0.01" />
									
							<label for="estatura">Estatura</label>
							<input type="number" th:field="*{estatura}" step="0.01"/>

							<label>Perímetro de cintura</label>
							<input  type="number" th:field="*{perimCintura}" step="0.01" />
			
							<label>Perímetro de cadera</label>
							<input type="number" th:field="*{perimCadera}" step="0.01" />
			
							<label>Perímetro de muslo</label>
							<input type="number" th:field="*{perimMuslo}" step="0.01"  />
			
							<label>Perímetro de brazo/bicep</label>
							<input  type="number" th:field="*{perimBrazo}" step="0.01"  /> 
			
							<input class="pure-button pure-button-primary" type="submit" value="Grabar">
						</form>
                      <a class="pure-button pure-button-secondary" type="button" th:href="@{/home/}">Omitir</a>
				</div>	  
            </section>
        </main>
    
        <footer>
            <p class="p-footer">2024. Todos los derechos reservados.</p>
        </footer>

</body>
</html>  