<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Perfil</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
<link rel='stylesheet' th:href='@{https://fonts.googleapis.com/css?family=Roboto}'>
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>

<body>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- PERFIL -->
    <div class="w3-third">
    <a type="button" class="pure-button pure-button-secondary" th:href="@{/home/retroceder}"> <- Retroceder</a>
      <div class="w3-white w3-text-grey w3-card-4" th:value="objUsuario">
      
        <div class="perfil">
          <img src="/images/ave.jpg" style="width:100%" alt="Avatar">
          <div class="w3-text-black">
            <h2 class="w3-text-grey w3-padding-16 w3-margin-right">
            <span th:text="${objUsuario.nombres}"></span>
            <span th:text="${objUsuario.apellidos}"></span>
            </h2>
            <p class="w3-text-grey" th:text="${objUsuario.biografia}"></p>     
          </div>
          <br>
          
          <!--<a th:href="@{/home/editarPerfil}" th:method="POST">Editar perfil</a>-->
          <form th:action="@{/perfil/editarPerfil}" th:method="POST">
            	<!--  <input type="hidden" name="idcuestionario" th:value="${miInfo.idcuestionario}" />-->
            	<button type="submit" class="pure-button pure-button-primary">
        			Editar Perfil
        		</button>
			</form> 
            
          <span class="span" th:if="${actualizado}" th:text="${actualizado}"></span>
        </div>
        
        <div class="w3-container">
        
          <p>Fecha de nacimiento: 
          <span th:text="${objUsuario.fechanacimiento}"></span></p>
          <br>
          
          <p>Nacionalidad: 
          <span th:text="${objUsuario.nacionalidad}"></span></p>
          <br>
          
          <p>Sexo: 
          <span th:text="${objUsuario.sexo}"></span></p>
          <br>
          
          <!--<p>Me uní en: </p>
           <p th:each="transaccion: ${objUsuario.transaccion}">
    		<span th:text="${transaccion.registro}"></span>  
    		<span th:text="${#dates.format(transaccion.registro, 'yyyy-MM-dd')}"></span>
			</p>--> 
			<br>
          
        </div>
      </div><br>
		
	  <div class="w3-white w3-text-grey w3-card-4" th:if="${!esPaciente}">
              
                <div class="perfil">
                  <div class="w3-text-black">
                    <h2 class="w3-text-grey w3-padding-16 w3-margin-right">
                        Reuniones
                    </h2>
                    
                    <div th:each="reunion: ${objReunion}">
                    	<p th:text="${reunion.motivo}"></p>
                    	<p th:text="${reunion.dia}"></p>  
                    	<p th:text="${reunion.hora}"></p>                 
                    	<!--  <button class="pure-button pure-button-primary">Ingresar vía Zoom</button>-->
                    	<a type="button" class="pure-button pure-button-primary" th:href="${reunion.enlace}">Enlace de la reunión</a>
                    	<!--<a type="button" class="pure-button pure-button-secondary" th:href="@{/reunion/pacientesAsistidos}">Pacientes asistidos</a>
                    	<a type="button" class="pure-button pure-button-secondary" 
                    		th:href="@{/reunion/pacientesAsistidos(idreunion=${objReunion.idreunion})}">Pacientes asistidos</a>-->
                    	<a th:href="@{/reunion/desactivarReunion/{idreunion} (idreunion=${reunion.idreunion})}" 
                    		class="btn btn-danger btn-circle btn-sm">Desactivar Reunion</a>
                    	<hr>
                    	<br>
                    </div>
                    <a type="button" class="pure-button pure-button-secondary" th:href="@{/reunion/pacientesAsistidos}">Pacientes asistidos</a>
                    
                    <a th:href="@{/reunion/crearReunion}">Programar una nueva reunión</a>
                  </div>
                  <br>
                  
                </div>
                
              </div><br>
              
              <div class="w3-white w3-text-grey w3-card-4" th:if="${esPaciente}">
            <div class="perfil">
              <div class="w3-text-black">
                <h2 class="w3-text-grey w3-padding-16 w3-margin-right">
                    Medidas de seguimiento
                </h2>
                <a type="button" class="pure-button pure-button-secondary" th:href="@{/perfil/verSeguimiento}">Ver seguimiento</a>
              </div>
              <br>
            </div>
          </div><br>
            
              
    <!-- End Left Column -->
    </div>


    <!-- Right Column -->
    
    <div class="w3-twothird">
    	<div class="w3-container w3-card w3-white w3-margin-bottom" th:if="${esPaciente}" th:value="miInfo">
    	
        <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Información</h2>
			<span class="span" th:if="${exito}" th:text="${exito}"></span>
			<span class="alert" th:if="${inactivo}" th:text="${inactivo}"></span>
        <div>
        
        <!-- SI EL PACIENTE NO TIENE INFO -->
        <div th:if="${miInfo==null}">
        <h3>¿Aún no has tienes información sobre ti? <br>
        Recuerda llenar y actualizar nuestro cuestionario</h3>
        <form th:action="@{/perfil/llenarCuestionario}" th:method="POST">
            	<button type="submit" class="pure-button pure-button-primary">
        			Hacer cuestionario
        		</button>
			</form>
        </div>
          
        <!-- SI EL PACIENTE TIENE INFO -->
        <div th:if="${miInfo!=null}">
 
    <div class="w3-container w3-card w3-white w3-margin-bottom">
   	<span th:if="${mensaje}" th:text="${mensaje}"></span>
   	
      <h2 class="w3-text-grey w3-padding-16">
          Dieta(s) que estoy haciendo</h2>
        <!--<div class="w3-container" th:if="${miInfo.dieta!=null}">-->
      
        <table class="pure-table">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Objetivo</th>
              <th>Descripción</th>
              <th>Acciones</th>
          </tr>
      </thead>
  
      <tbody class="pure-table-border">
          <tr th:each="dieta: ${miInfo.dieta}">
          <td><span th:text="${dieta.nombre}"></span></td>
          <td><span th:text="${dieta.objetivo}"></span></td>
          <td><span th:text="${dieta.descripcion}"></span></td>
          <td>
              <div class="dropdown">
                  <a th:href="@{/dieta/verDetalleDieta(iddieta=${dieta.iddieta})}">Ver detalles</a>
              </div>
              <br>
              
              <form th:action="@{/dieta/dejarSeguirDieta(iddieta=${dieta.iddieta})}" method="POST">
            			<button type="submit" class="pure-button pure-button-secondary">
            			Dejar de seguir Dieta</button>
            		</form>
          </td>
          
          </tr> 
      </tbody>
 
          </table> 
          
        <a th:href="@{/home/verDietas}" type="button">
			Seguir otras dietas
		</a>         
    </div>
    
    		<h3>Objetivo nutricional:</h3>
			<p th:text="${miInfo.objetivo}">
            <hr>
        
          <h3>Frecuencia de ejercicios:</h3>        
    	  <p th:text="${miInfo.frecEjercicios}">
    	  <hr>
    	  
					<h3>Condición alimenticia:</h3>
    				<p th:text="${miInfo.condicion}">
    				<hr>
    				
                    <h3>Peso corporal:</h3>
					<p th:text="${miInfo.pesoCorporal}">
    				<hr>
    				
    				<h3>Estatura:</h3>
					<p th:text="${miInfo.estatura}">
    				<hr>
    				
                    <h3>Perímetro de cintura:</h3>
					<p th:text="${miInfo.perimCintura}">
    				<hr>
    				
                    <h3>Perímetro de cadera:</h3>
					<p th:text="${miInfo.perimCadera}">
    				<hr>
    				
                    <h3>Perímetro de muslo:</h3>
                    <p th:text="${miInfo.perimMuslo}">
                    <hr>
                    
                    <h3>Perímetro de brazo/bicep:</h3>
					<p th:text="${miInfo.perimBrazo}">
    				<hr>
    					
            </div>
            
        </div>
        <div th:if="${miInfo!=null}" class="w3-container">
          <!--<form th:action="@{/home/editarInfo}" method="POST">
            <button type="submit" class="pure-button pure-button-primary">
            Editar mi información</button>
          </form>
          <form th:action="@{/perfil/editarInfo}" th:method="POST">
            	<input type="hidden" name="idinfopaciente" th:value="${miInfo.idinfopaciente}" />
            	<button type="submit" class="pure-button pure-button-primary">
        			Editar mi información de paciente
        		</button>
			</form>-->
			<a type="submit" th:href="@{/perfil/editarInfo}" class="pure-button pure-button-primary">Editar mi información de paciente</a>
      </div>
      

   	
		
    </div>
    	
    	
    	
      <div class="w3-container w3-card w3-white w3-margin-bottom" th:if="${!esPaciente}">
        <h2 class="w3-text-grey w3-padding-16">Rutinas creadas</h2>

        <div class="w3-container" >
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Nombre de la Rutina</th>
                    <th>Tipo</th>
                    <th>Parte del cuerpo</th>
                    <th>Nivel</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        
            <tbody class="pure-table-border">
                <tr th:each="rutina: ${misRutinas}">
                <td><span th:text="${rutina.nombre}"></span></td>
                <td><span th:text="${rutina.tipo}"></span></td>
                <td><span th:text="${rutina.parteCuerpo}"></span></td>
                <td><span th:text="${rutina.nivel}"></span></td>
                <td><span th:text="${rutina.descripcion}"></span></td>
                <!--<td>
                    <div class="dropdown">
                        <a th:href="@{/ordenCompra/ver/{id} (id=${ordenCompra.id})}">
                            <i class="bx bx-edit-alt me-2"></i>Ver detalles</a>
                    </div>
                </td>-->
                <td>
                    <div class="dropdown">
                        <a th:href="@{/rutina/verDetalleRutina(idrutina=${rutina.idrutina})}">
                            <i class="bx bx-edit-alt me-2"></i>Ver detalles</a>
                    </div>
                </td>
                </tr> 
            </tbody>
            </table>

            <form th:action="@{/rutina/crearRutina}" method="POST">
            	<button type="submit" class="pure-button pure-button-primary">
            	Crear Nueva rutina</button>
            </form>
        </div>

      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom" th:if="${!esPaciente}">
        <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
            Dietas creadas</h2>
        <div class="w3-container">
            <table class="pure-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Objetivo</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody class="pure-table-border">
            <tr th:each="dieta: ${misDietas}">
            <td><span th:text="${dieta.nombre}"></span></td>
            <td><span th:text="${dieta.objetivo}"></span></td>
            <td><span th:text="${dieta.descripcion}"></span></td>
            <!--<td>
                <div class="dropdown">
                    <a th:href="@{/ordenCompra/ver/{id} (id=${ordenCompra.id})}">
                        <i class="bx bx-edit-alt me-2"></i>Ver detalles</a>
                </div>
            </td>-->
            <td>
                <div class="dropdown">
                    <a th:href="@{/dieta/verDetalleDieta(iddieta=${dieta.iddieta})}">
                        <i class="bx bx-edit-alt me-2"></i>Ver detalles</a>
                </div>
            </td>
            
            </tr> 
        </tbody>
   
            </table>

            <form th:action="@{/dieta/crearDieta}" method="POST">
                <button type="submit" class="pure-button pure-button-primary">
                Crear Nueva Dieta</button>
            </form>  
        
      </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</div>

<footer>
  <p class="p-footer">2024. Todos los derechos reservados.</p>
</footer>

</body>
</html>