<!doctype html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Registrar usuario</title>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/style2.css">-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
	
	<script th:src="@{https://kit.fontawesome.com/dcce108ca1.js}" crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<section>
			<h2>Registrate</h2>
			<form class="pure-form pure-form-stacked" 
            	th:action="@{/usuario/grabar_paciente}" 
            	th:object="${paciente}"
            	method="POST" >

				<label for="nombres">Nombres</label>
				<input type="text" 
                            	id="multi-first-name" 
                            	th:field="*{nombres}" 
                            	required="" />

				<label for="apellidos">Apellidos</label>
				<input type="text" id="multi-last-name" th:field="*{apellidos}"/>
				
				<label for="usuario">Usuario</label>
				<input type="text" id="multi-last-name" th:field="*{usuario}" />

				<label for="nombres_apellidos">Fecha nacimiento</label>
				<input type="date" 
                                id="multi-fecha-nacimiento" 
                                th:field="*{fechanacimiento}" 
                                required="" />
                                
                <label for="percentage">Nacionalidad</label>        
					<select id="percentage" name="nacionalidad">
						<option th:value="Otro" selected="selected">Otro</option>
						<option th:value="'Argentina'">Argentina</option>
						<option th:value="'Bolivia'">Bolivia</option>
						<option th:value="'Chile'">Chile</option>
						<option th:value="'Colombia'">Colombia</option>
						<option th:value="'Ecuador'">Ecuador</option>
						<option th:value="'España'">España</option>
						<option th:value="'Mexico'">Mexico</option>
						<option th:value="'Paraguay'">Paraguay</option>
						<option th:value="'Perú'">Perú</option>
						<option th:value="'Uruguay'">Uruguay</option>
						<option th:value="'Venezuela'">Venezuela</option>
					</select> 
				
				<label for="percentage">Sexo</label>        
					<select id="percentage" name="sexo">
						<option th:value="Masculino" selected="selected">Masculino</option>
						<option th:value="Femenino">Femenino</option>
				</select>

				<label for="nombres_apellidos">Correo Electronico</label>
				<input type="email" 
                            	id="multi-email" 
                            	class="pure-u-23-24" 
                            	th:field="*{correo}" 
                            	required="" />

				<label for="nombres_apellidos">Contraseña</label>
				<input type="password" 
                            	id="aligned-password" 
                            	th:field="*{password}"
                            	minlength="8" 
                            	required="" />
                            	
                <span class="span" th:if="${error}" th:text="${error}"></span>

				<input type="submit" value="Enviar">

			</form>
		</section>
	</main>

	<footer>
		<p class="p-footer">2024. Todos los derechos reservados.</p>
	</footer>

</body>
</html>