<!DOCTYPE html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ejercicios</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

	<script src="https://kit.fontawesome.com/dcce108ca1.js" crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<section>
            <h2>Ejercicios</h2>
            
        <div>
            <table class="pure-table">
                
                <div class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            <a th:href="@{/rutina/}" class="pure-menu-link">Rutinas</a>
                        </li>
                        <li class="pure-menu-item pure-menu-selected">
                            <a href="#" class="pure-menu-link">Ejercicios</a>
                        </li>

                        <form th:action="@{/rutina/buscarEjercicios}" method="GET">
    						<select class="form-select" name="grupomuscular">
        						<option th:each="ejercicio : ${cbxEjercicios}"
                				th:value="${ejercicio}"
                				th:text="${ejercicio}">
        						</option>
    						</select>
    						<button type="submit" class="pure-button pure-button-secondary">Buscar</button>
						</form>

                    </ul>
                </div>

           		 	<thead>
                        <tr>
                            <th>Nombre del Ejercicio</th>
                            <th>Grupo Muscular</th>
                            <th>Tipo</th>
                            <th>Número de Series</th>
                            <th>Número de Repeticiones</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>

                    <tbody class="pure-table-border">
                        <tr th:each="e: ${listaEjercicios}">
                            <td><span th:text="${e.nombre}"></span></td>
                            <td><span th:text="${e.grupomuscular}"></span></td>
                            <td><span th:text="${e.tipo}"></span></td>
                            <td><span th:text="${e.series}"></span></td>
                            <td><span th:text="${e.repeticiones}"></span></td>
                            <td><span th:text="${e.descripcion}"></span></td>
                        </tr> 
                    </tbody>
       
            </table>

            
        </div>

	</section>
</main>
	<footer>
		<p class="p-footer">2024. Todos los derechos reservados.</p>
	</footer>

</body>
</html>