<!DOCTYPE html>
<html lang="en"
     xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
	<link th:href="@{https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap}" rel="stylesheet">
	<link th:href="@{https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css}" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <title>Lista de rutinas</title>
</head>
<body>
      <main>
		<section>
            <h2>Rutinas</h2>  

        <span th:if="${finalizado}" th:text="${finalizado}"></span>
        <span class="alert" th:if="${excepcion}" th:text="${excepcion}"></span>
       	 <span class="span" th:if="${exito}" th:text="${exito}"></span>
        
        <div class="deslisable">
                <div class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item pure-menu-selected">
                            <a href="#" class="pure-menu-link">Rutinas</a>
                        </li>
                        <li class="pure-menu-item">
                            <a th:href="@{/rutina/ver_ejercicios}" class="pure-menu-link">Ejercicios</a>
                        </li>
                    </ul>
                </div>
                
		<table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Nombre de la Rutina</th>
                    <th>Tipo</th>
                    <th>Parte del cuerpo</th>
                    <th>Nivel</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        
            <tbody>
                <tr th:each="ru: ${listaRutinas}">
                	<td><span th:text="${ru.nombre}"></span></td>
                	<td><span th:text="${ru.objetivo.nombre}"></span></td>
                	<td><span th:text="${ru.parteCuerpo}"></span></td>
                	<td><span th:text="${ru.nivel}"></span></td>
                	<td><span class="descripcion" th:text="${ru.descripcion}"></span></td>
                <td><a th:href="@{/rutina/verDetalleRutina/{codigo}(codigo=${ru.codigo})}" method="GET">Ver detalles</a><br>
                </td>
                </tr> 
            </tbody>
        </table>

        </div>
        <!--<form th:if="${!esPaciente}" th:action="@{/rutina/crearRutina}" method="POST">
            	<button type="submit" class="pure-button pure-button-primary">
            	Crear Nueva rutina</button>
            </form>-->

    		<a type="button" class="pure-button pure-button-secondary" th:href="@{/home/}">Retroceder</a>
    </section>
    
	</main>
    <footer>
		<p class="p-footer">2024. Todos los derechos reservados.</p>
	</footer>
	
</body>
</html>

<script th:src="@{/js/leer-mas.js}"></script>