<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <title>Perfil</title>
</head>

<body>
   <main class="main-content">

    <header>
        <a type="button" class="pure-button pure-button-secondary" th:href="@{/home/}"><</a>
        <div class="pure-g" th:value="pnutriologo">
            <div class="pure-u-2-2" style="margin: 20px;">
                <img th:src="@{/uploads/{img}(img=${pnutriologo.foto})}" class="fdp">
                <p><strong>Nombre: </strong><span th:text="${pnutriologo.nombres}"></span></p>
                <p><strong>Fecha de nacimiento: </strong><span th:text="${pnutriologo.fechanacimiento}"></span></p>
                <p><strong>Nacionalidad: </strong><span th:text="${pnutriologo.nacionalidad}"></span></p>
                <p><strong>Sexo: </strong><span th:text="${pnutriologo.sexo}"></span></p>
            </div>
            <br>
            <div class="pure-u-2-3">
                <h1 th:text="${pnutriologo.usuario}"></h1>
                <p><span th:text="${pnutriologo.biografia}"></span></p>
                <a th:if="${paciente==null}" type="button" class="pure-button pure-button-primary" th:href="@{/perfil/editarPerfil}">Editar</a>
            </div>
            </div>
        </div>
    </header>
    
    <br>
    
    <section class="section-profile">
        <div class="pure-g">
            <div class="reuniones">
                <h2>Reuniones</h2>
                        
                <div th:each="reunion: ${objReunion}">
                            <p th:text="${reunion.motivo}"></p>
                            <p th:text="${reunion.dia.nombre}"></p>  
                            <p th:text="${reunion.hora}"></p>                 
                          
                            <a type="button" class="pure-button pure-button-primary" th:href="${reunion.enlace}">Enlace de la reunión</a>
                           
                            <a th:if="${paciente==null}" th:href="@{/reunion/desactivarReunion/{codigo} (codigo=${reunion.codigo})}" 
                                class="alert">Desactivar Reunion</a>
                            <hr>
                            <br>
                </div>
                <a type="button" th:href="@{/reunion/pacientesAsistidos}">Pacientes asistidos</a>
                <br>
                <a th:if="${paciente==null}" th:href="@{/reunion/nueva_reunion}" class="pure-button pure-button-primary">Programar una nueva reunión</a>

            </div>

            <div class="tabla-perfil">
                <div id="tabla-rutinas" style="display: block;">

                    <h2>Rutinas creadas</h2>
                    <a th:if="${paciente==null}" th:href="@{/rutina/crear_rutina}" class="pure-button pure-button-primary">Crear Nueva rutina</a>
                    <a href="#" id="ver-dietas">Dietas</a>
                    <hr>
                    <table class="pure-table pure-table-bordered">
                        <thead>
                                <tr>
                                    <th>Nombre de la Rutina</th>
                                    <th>Tipo</th>
                                    <th>Parte del cuerpo</th>
                                    <th>Nivel</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                        </thead>
                        
                        <tbody class="pure-table-border">
                                <tr th:each="rutina: ${misRutinas}">
                                <td><a th:href="@{/rutina/verDetalleRutina/{codigo}(codigo=${rutina.codigo})}">
                                    <span th:text="${rutina.nombre}"></span></a></td>
                                <td><span th:text="${rutina.objetivo.nombre}"></span></td>
                                <td><span th:text="${rutina.parteCuerpo}"></span></td>
                                <td><span th:text="${rutina.nivel}"></span></td>
                                <td><span class="descripcion" th:text="${rutina.descripcion}"></span></td>
                                <td>
                                    <!--<div>
                                        <a th:href="@{/rutina/verDetalleRutina(codigo=${rutina.codigo})}">Ver detalles</a>
                                    </div>-->
                                    <a th:href="@{/rutina/editar_rutina/{codigo}(codigo=${rutina.codigo})}">Editar</a>
                                </td>
                                </tr> 
                        </tbody>
                    </table>
                    
                    
                </div>

                <div id="tabla-dietas" style="display: none;">
                    <h2>Dietas creadas</h2>
                    <a th:if="${paciente==null}" class="pure-button pure-button-primary" th:href="@{/dieta/crear_dieta}">Crear Nueva Dieta</a>
                    <a href="#" id="ver-rutinas">Rutinas</a>
                    <hr>

                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Objetivo</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            <tr th:each="dieta: ${misDietas}">
                            <td><a th:href="@{/dieta/verDetalleDieta/{codigo}(codigo=${dieta.codigo})}">Ver detalles
                                <span th:text="${dieta.nombre}"></span></a></td>
                            <td><span th:text="${dieta.objetivo.nombre}"></span></td>
                            <td><span class="descripcion" th:text="${dieta.descripcion}"></span></td>
                            <td>
                                <div>
                                    <a th:href="@{/dieta/editar_dieta/{codigo}(codigo=${dieta.codigo})}">Editar</a>
                                </div>
                            </td>
                            
                            </tr> 
                        </tbody>
        
                    </table>
                </div>

            </div>
        </div>


    </section>
   </main> 
</body>
</html>

 <script th:src="@{/js/tablas.js}"></script> 
 <script th:src="@{/js/leer-mas.js}"></script>