<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <title>Perfil</title>
</head>

<body>
   <main class="main-content">

    <header>
        <a type="button" class="pure-button pure-button-secondary" th:href="@{/home/}"><</a>
        <div class="pure-g" th:value="paciente">
            <div class="pure-u-2-2" style="margin: 20px;">
                <img th:src="@{/images/user.jpg}" class="fdp">
                <p><strong>Nombre: </strong><span th:text="${paciente.nombres}"></span></p>
                <p><strong>Fecha de nacimiento: </strong><span th:text="${paciente.fechanacimiento}"></span></p>
                <p><strong>Nacionalidad: </strong><span th:text="${paciente.nacionalidad}"></span></p>
                <p><strong>Sexo: </strong><span th:text="${paciente.sexo}"></span></p>
            </div>
            <br>
            <div class="pure-u-2-3">
                <h1 th:text="${paciente.usuario}"></h1>
                <p><span th:text="${paciente.biografia}"></span></p>
                <a type="button" class="pure-button pure-button-primary" href="@{/perfil/editarPerfil}">Editar</a>
            </div>
            </div>
        </div>
    </header>
    
    <br>
    
    <section class="section-profile">
        <div class="contenido">
            <h2 style="text-align: center;">Historial Médico</h2><hr>

            <span class="alert" th:if="${inactivo}" th:text="${inactivo}"></span>
            
            <div class="pure-g" th:value="paciente">
                <div class="carta2 pure-u-1-3">
                    <h4>Condición Alimenticia</h4>
                    <h2 th:text="${paciente.condicion.nombre}"></h2>
                </div>
                <div class="carta2 pure-u-1-3">
                    <h4>Frecuencia de ejercicios</h4>
                    <h2 h:text="${paciente.frecEjercicios}"></h2>
                </div>
                <div class="carta2 pure-u-1-3">
                    <h4>Objetivo</h4>
                    <h2 th:text="${paciente.objetivo.nombre}"></h2>
                </div>
            </div>

            <div class="pure-g" th:value="paciente">
                <div class="carta pure-u-1-4">
                    <h4>Peso corporal</h4>
                    <h1 th:text="${paciente.historial.pesoCorporal}"></h1>
                </div>
                <div class="carta pure-u-1-4">
                    <h4>Estatura</h4>
                    <h1 th:text="${paciente.historial.estatura}"></h1>
                </div>
                <div class="carta pure-u-1-4">
                    <h4>Perímetro de cintura</h4>
                    <h1 th:text="${paciente.historial.perimCintura}"></h1>
                </div>
                <div class="carta pure-u-1-4">
                    <h4>Perímetro de cadera:</h4>
                    <h1 th:text="${paciente.historial.perimCadera}"></h1>
                </div> 
                <div class="carta pure-u-1-4">
                    <h4>Perímetro de muslo:</h4>
                    <h1 th:text="${paciente.historial.perimMuslo}"></h1>
                </div>
                <div class="carta pure-u-1-4">
                    <h4>Perímetro de brazo/bicep:</h4>
                    <h1 th:text="${paciente.historial.perimBrazo}"></h1>
                </div>
            </div>

            <a type="button" class="pure-button pure-button-primary" th:href="@{/perfil/editarMedidas}">Actualizar Medidas</a>
            <a type="button" class="pure-button pure-button-secondary" th:href="@{/perfil/verSeguimiento}">Ver Segumiento</a>
            
        </div><br>

        <div class="contenido">
            <span th:if="${mensaje}" th:text="${mensaje}"></span>
            <h2>Dieta(s) que estoy haciendo</h2>
            <hr>
            <!--<table class="pure-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Objetivo</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            
                <tbody class="pure-table-border">
                    <tr th:each="dieta: ${paciente.historialMedico.dieta}">
                    <td><span th:text="${dieta.nombre}"></span></td>
                    <td><span th:text="${dieta.objetivo}"></span></td>
                    <td><span th:text="${dieta.descripcion}"></span></td>
                    <td>
                        <div class="dropdown">
                            <a th:href="@{/dieta/verDetalleDieta(codigo=${dieta.codigo})}">Ver detalles</a>
                        </div>
                        <br>
                        
                        <form th:action="@{/dieta/dejarSeguirDieta(codigo=${dieta.codigo})}" method="POST">
                            <button type="submit" class="pure-button pure-button-secondary">
                            Dejar de seguir Dieta</button>
                            </form>
                    </td>
                    
                    </tr> 
                </tbody>
            </table>-->
            
            <a th:href="@{/dieta/}" type="button">
                Seguir otras dietas
            </a>         
        </div>

    </section>
   </main> 
</body>
</html>