<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <title>Perfil</title>
</head>

<body>
   <main class="main-content">

    <header>
        <a type="button" class="pure-button pure-button-secondary" th:href="@{/home/}"><</a>
        <div class="pure-g" th:value="ppaciente">
            <div class="pure-u-2-2" style="margin: 20px;">
                <!--<img th:src="@{/images/user.jpg}" class="fdp">-->
                <img th:src="@{/uploads/{img}(img=${ppaciente.foto})}" class="fdp">
                <p><strong>Nombre: </strong><span th:text="${ppaciente.nombres}"></span></p>
                <p><strong>Fecha de nacimiento: </strong><span th:text="${ppaciente.fechanacimiento}"></span></p>
                <p><strong>Nacionalidad: </strong><span th:text="${ppaciente.nacionalidad}"></span></p>
                <p><strong>Sexo: </strong><span th:text="${ppaciente.sexo}"></span></p>
            </div>
            <br>
            <div class="pure-u-2-3">
                <h1 th:text="${ppaciente.usuario}"></h1>
                <p><span th:text="${ppaciente.biografia}"></span></p>
                <a th:if="${nutriologo==null}" type="button" class="pure-button pure-button-primary" th:href="@{/perfil/editarPerfil}">Editar</a>
            </div>
            </div>
        </div>
    </header>
    
    <br>
    
    <section class="section-profile">
        <div class="contenido">
            <div id="medidas" style="display: block;">
                <h2 style="text-align: center;">Historial Médico</h2><hr>

                <span class="alert" th:if="${inactivo}" th:text="${inactivo}"></span>
                
                <div class="pure-g" th:value="ppaciente">
                    <div class="carta2 pure-u-1-3">
                        <h4>Condición Alimenticia</h4>
                        <h2 th:text="${ppaciente.condicion.nombre}"></h2>
                    </div>
                    <div class="carta2 pure-u-1-3">
                        <h4>Frecuencia de ejercicios</h4>
                        <h2 th:text="${ppaciente.frecEjercicios.nombre}"></h2>
                    </div>
                    <div class="carta2 pure-u-1-3">
                        <h4>Objetivo</h4>
                        <h2 th:text="${ppaciente.objetivo.nombre}"></h2>
                    </div>
                </div>

                <div class="pure-g" th:value="ppaciente">
                    <div class="carta pure-u-1-4">
                        <h4>Peso corporal</h4>
                        <h1 th:text="${ppaciente.historial.pesoCorporal}"></h1>
                    </div>
                    <div class="carta pure-u-1-4">
                        <h4>Estatura</h4>
                        <h1 th:text="${ppaciente.historial.estatura}"></h1>
                    </div>
                    <div class="carta pure-u-1-4">
                        <h4>Perímetro de cintura</h4>
                        <h1 th:text="${ppaciente.historial.perimCintura}"></h1>
                    </div>
                    <div class="carta pure-u-1-4">
                        <h4>Perímetro de cadera:</h4>
                        <h1 th:text="${ppaciente.historial.perimCadera}"></h1>
                    </div> 
                    <div class="carta pure-u-1-4">
                        <h4>Perímetro de muslo:</h4>
                        <h1 th:text="${ppaciente.historial.perimMuslo}"></h1>
                    </div>
                    <div class="carta pure-u-1-4">
                        <h4>Perímetro de brazo/bicep:</h4>
                        <h1 th:text="${ppaciente.historial.perimBrazo}"></h1>
                    </div>
                </div>

                <a th:if="${nutriologo==null}" type="button" class="pure-button pure-button-primary" th:href="@{/perfil/editarMedidas}">Actualizar Medidas</a>
                <a class="pure-button pure-button-secondary" href="#" id="ver-pagina2">Ver Seguimiento -></a>
            </div>

            <div id="seguimiento" style="display: none;">
                <div>
                    <h2>Total de reuniones asistidas</h2>
                    <h1 th:text="${totalReuniones}"></h1>
                </div>

                <h2 style="text-align: center;">Historial de Medidas</h2><hr>
                <div class="deslisable">
                    <table class="pure-table pure-table-bordered" style="margin: 0 auto;">
                        <thead>
                            <tr>
                                <th>Fecha de modificación</th>
                                <th>Peso corporal</th>
                                <th>Estatura</th>
                                <th>Perimetro de cintura</th>                   
                                <th>Perimetro de cadera</th>   
                                <th>Perimetro de muslo</th>   
                                <th>Perimetro de brazo</th> 
                            </tr>
                        </thead>
                    
                        <tbody class="pure-table-border">
                            <tr th:each="infopaciente: ${listaSeguimiento}">
                                <td><span th:text="${infopaciente.fecha}"></span></td>
                                <td><span th:text="${infopaciente.pesoCorporal}"></span></td>
                                <td><span th:text="${infopaciente.estatura}"></span></td>
                                <td><span th:text="${infopaciente.perimCintura}"></span></td>
                                <td><span th:text="${infopaciente.perimCadera}"></span></td>
                                <td><span th:text="${infopaciente.perimMuslo}"></span></td>
                                <td><span th:text="${infopaciente.perimBrazo}"></span></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <a class="pure-button pure-button-secondary" href="#" id="ver-pagina1">Ver Medidas -></a>
            </div>
        </div>
        
        <br>

        <div class="contenido">
            <span th:if="${mensaje}" th:text="${mensaje}"></span>
            <h2>Dieta(s) que estoy haciendo</h2>
            <hr>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Objetivo</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            
                <tbody class="pure-table-border">
                    <tr th:each="d: ${ppaciente.dieta}">
                    <td><a th:href="@{/dieta/verDetalleDieta/{codigo}(codigo=${d.codigo})}" ><span th:text="${d.nombre}"></span></a></td>
                    <td><span th:text="${d.objetivo.nombre}"></span></td>
                    <td><span class="descripcion" th:text="${d.descripcion}"></span></td>
                    <td>
                        <br>
                        
                        <form th:action="@{/dieta/dejarSeguirDieta(codigo=${d.codigo})}" method="POST">
                            <button type="submit" class="pure-button pure-button-secondary">
                            Dejar de seguir Dieta</button>
                        </form>
                    </td>
                    
                    </tr> 
                </tbody>
            </table>
            
            <a th:href="@{/dieta/}" type="button">
                Seguir otras dietas
            </a>         
        </div>

    </section>
   </main> 
</body>
</html>

<script>

// ============ PAGINADO =============
let medidas = document.getElementById("medidas");
let seguimiento = document.getElementById("seguimiento");

let btnVerPagina2 = document.getElementById("ver-pagina2")
btnVerPagina2.addEventListener("click", function(){
    medidas.style.display = "none";
    seguimiento.style.display = "block";
});

let btnVerPagina1 = document.getElementById("ver-pagina1")
btnVerPagina1.addEventListener("click", function(){
    seguimiento.style.display = "none";
    medidas.style.display = "block";
});


// ============ LEER MÁS =============
let descripciones = document.querySelectorAll(".descripcion")

descripciones.forEach(descripcion => {
    // Si "descripcion" tiene más de 150 caracteres, se recorta y se añade el boton "Leer más"
    if(descripcion.innerText.length > 150){
        let textoCompleto = descripcion.innerText;
        let textoRecortado = textoCompleto.substring(0, 170) + "... ";

        let leerMas = document.createElement("a");
        leerMas.href = "#";
        leerMas.innerText = "Leer más";

        leerMas.addEventListener("click", function() {
            descripcion.innerText = textoCompleto;
            leerMas.style.display = "none";
        });
        descripcion.innerText = textoRecortado;
        descripcion.appendChild(leerMas);
    }
});

</script>